obj-x86_64-linux-gnu/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/gir1.2-xviewer-3.0/
debian/tmp/
debian/xviewer/
debian/xviewer-dbg/
debian/xviewer-dev/
debian/*.substvars
debian/*.log